# General Modules
django>3.2,<3.3
python-decouple
pillow
djangorestframework

# Third-party Modules
markdown
django-filter
drf-yasg[validation]
djangorestframework-simplejwt

# Email templates
django-mail-templated

# Refactor & Test
black
flake8
pytest
pytest-django

# Fake Data
Faker
