{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>To Do App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    
    {% block css_links %} {% endblock css_links %}
  </head>
  <body class="vh-100" style="background-color: #eee;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/todo/' %} active {% endif %}" 
                href="{% url 'todo:home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/todo/tasks' %} active {% endif %}" 
              href="{% url 'todo:tasks' %}">Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/todo/weather' %} active {% endif %}" 
              href="{% url 'todo:weather' %}">Weather</a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/accounts/login/' %} active {% endif %}" 
                href="{% url 'accounts:login' %}">Login</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    
    <main>
      {% block main_content %} {% endblock main_content %}
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
